server:
  port: 8081

spring:
  cloud:
    discovery:
      enabled: true
  application:
    name: auth-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/kanbaniserdb?createDatabaseIfNotExist=true
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

kanbaniser:
  app:
    jwtCookieName: kanbaniserauthcookie
    jwtSecret: ==============================================test==============================================
    jwtExpirationMs: 86400000

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
